<app-cabecalho [filtroAtivo]="filtroAtivo" />

<main class="min-h-screen bg-slate-50">

   


      <section class="relative min-h-[500px] flex items-center justify-center
                      text-center px-6 pt-24 pb-16 bg-cover bg-center"
            style="background-image: url('https://images.unsplash.com/photo-1613490493576-7fde63acd811?w=1600')">
    
            <div class="absolute inset-0 bg-gradient-to-b from-black/50 via-black/30 to-black/60"></div>
    
            <div class="relative z-10 max-w-2xl flex flex-col items-center gap-4">
                <h1 class="text-4xl md:text-5xl font-black text-white leading-tight tracking-tight">
                     Seu imóvel  <span class="text-white">ideal</span>,
                      a um clique de distância<br>
                   
                </h1>
               <!-- <p class="text-white/80 text-lg font-light">
                    Seu imóvel ideal, a um clique de distância
                </p>  -->
    
            <div class="mt-4 w-full max-w-lg flex gap-2 bg-white/15 backdrop-blur-xl
                      border border-white/25 rounded-2xl p-1.5">
                    <input type="text" placeholder="Cidade, bairro, tipo de imóvel..." [(ngModel)]="termoBusca"
                        (keyup.enter)="onBuscar()" class="flex-1 bg-white/90 rounded-xl px-4 py-3 text-sm
                     text-slate-800 placeholder-slate-400 outline-none" />
                    <button (click)="onBuscar()" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold
                     text-sm px-6 py-3 rounded-xl transition-colors whitespace-nowrap">
                        Buscar
                    </button>
                </div>
            </div>
        </section> 
    

  
    <!-- LISTAGEM -->
    <section class="max-w-7xl mx-auto px-6 py-8 ">

        <div class="mb-8">
           <span class="text-indigo-600 text-xs font-extrabold uppercase tracking-widest">
                Chegou este mês
            </span> 
            <h2 class="text-2xl font-bold text-slate-900 mt-1">
                Novidades para você
            </h2>
        </div>

        @if (carregando) {
        <div class="flex justify-center items-center py-24">
            <div class="w-10 h-10 border-4 border-indigo-600 border-t-transparent
                rounded-full animate-spin"></div>
        </div>
        } @else if (erro) {
        <div class="flex flex-col items-center justify-center py-24 text-slate-400">
            <span class="text-5xl mb-4">⚠️</span>
            <p class="text-lg font-semibold text-slate-600">{{ erro }}</p>
            <button (click)="carregarImoveis()"
                class="mt-6 bg-indigo-600 text-white font-bold px-6 py-3 rounded-xl text-sm">
                Tentar novamente
            </button>
        </div>
        } @else if (imoveis.length > 0) {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            @for (imovel of imoveis; track imovel.id) {
            <app-card-imovel [imovel]="imovel" />
            }
        </div>
        } @else {
        <div class="flex flex-col items-center justify-center py-24 text-slate-400">
            <span class="text-6xl mb-4">🏚️</span>
            <p class="text-lg font-semibold text-slate-600">Nenhum imóvel encontrado</p>
            <button (click)="limparBusca(); alterarFiltro('todos')"
                class="mt-6 bg-indigo-600 text-white font-bold px-6 py-3 rounded-xl text-sm">
                Ver todos os imóveis
            </button>
        </div>
        }


    </section>

    @if (mostrarSnack) {
    <div class="fixed bottom-6 left-1/2 -translate-x-1/2 z-50
              bg-emerald-600 text-white text-sm font-bold
              px-6 py-4 rounded-2xl shadow-xl
              flex items-center gap-3
              animate-fade-in">
        ✅ Imóvel cadastrado com sucesso!
    </div>
    }
</main>